@import "../../commons/Commons.scss";


.meal-card {
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px $dark;
    transition: 0.3s ease-out;
    &:hover {
        box-shadow: 0 0 10px $primaryColor;
        transition: 0.3s ease-out;
    &:focus {
        box-shadow: 0 0 10px $primaryColor;
        transition: 0.3s ease-out;
    }
    }
}

.cardFolded {
    @include flexCenter(column);
    justify-content: flex-start;
    height: 100px;
    width: 350px;
    border-radius: 20px;
}

.cardFull {
    @extend .cardFolded;
    height: 280px;
    justify-content: flex-start;
    cursor: default;
}

.cardDinner {
    background-image: linear-gradient(to bottom, $red 1px, $light 20px);
}

.cardBreakfast {
    background-image: linear-gradient(to bottom, $yellow 1px, $light 20px);
}

.cardSupper {
    background-image: linear-gradient(to bottom, $orange 1px, $light 20px);
}

.cardDessert {
    background-image: linear-gradient(to bottom, $blue 1px, $light 20px);
}

.cardSoup {
    background-image: linear-gradient(to bottom, $green 1px, $light 20px);
}


.dinnerCard {
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .meat-type {
        @include flexCenter(column);
        margin: 25px 10px 15px 10px;
        height: 60px;
        min-width: 60px;
    }
    .meat-type-multi {
        @include flexCenter(column);
        flex-wrap: wrap;
        margin: 10px 5px 5px 5px;
        min-height: 75px;
        min-width: 70px;
    }

    .meat-type-img {
        max-height: 60px;
        max-width: 60px;
    }

    .meat-type-img-multi {
        max-height: 30px;
        margin: 5px
    }
}

.restMealsCard {
    display: flex;
    height: 100px;
    width: 100%;
    // justify-content: flex-start
}

.meal-name {
    @include flexCenter(row);
    width: 100%;
    height: 70px;
    color: $primaryColor;
    margin: 20px 10px 10px 10px;
    overflow-wrap: break-word;
    h3 {
        text-align: center;
    }
}

.meal-name-title {
    width: 90%;
    cursor: pointer;
}

.meal-buttons {
    margin-left: auto
}

.meal-details {
    @include flexCenter(column);
    width: 100%;
    height: 200px;
    justify-content: flex-end;
    button {
        padding: 5px;
        margin: 0;
        width: 100%;
        @include flexCenter(column);
    }
}

.detail-type {
    @include flexCenter(row);
    align-items: flex-start;
    width: 100%;
}


.label {
    display: flex;
    width: 20%;
    padding: 5px;
    color: $primaryColor;
}

.content {
    display: flex;
    text-align: justify;
    overflow-wrap: anywhere;
    width: 70%;
    padding: 5px;
    color: $dark;
    
    a {
        color: $primaryColor;
        text-decoration: none;
        &:active {
            color: $dark-grey
        }
    }

}

