@import "../../commons/Commons.scss";

.cardFolded {
    @include flexCenter(column);
    height: 100px;
    width: 300px;
    border-radius: 20px;
    transition: 0.2s ease;
}

.cardFull {
    @extend .cardFolded;
    height: 300px;
    justify-content: flex-start;
}

.cardDinner {
    background-image: linear-gradient(to bottom, $red 20px, $light 20px);
}

.cardBreakfast {
    background-image: linear-gradient(to bottom, $yellow 20px, $light 20px);
}

.cardSupper {
    background-image: linear-gradient(to bottom, $orange 20px, $light 20px);
}

.cardDessert {
    background-image: linear-gradient(to bottom, $blue 20px, $light 20px);
}

.cardOther {
    background-image: linear-gradient(to bottom, $green 20px, $light 20px);
}


.dinnerCard {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .meat-type {
        @include flexCenter(column);
        margin: 25px 10px 5px 10px;
        height: 70px;
        // background-image: radial-gradient(closest-side, $primaryColor 20% , $light);
    }
    
    .meat-type-img {
        height: 70px;
        width: 70px;
    }
}

.restMealsCard {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start
}


.meal-name {
    @include flexCenter(column);
    width: 100%;
    height: 100px;
    color: $primaryColor;
}

.meal-details {
    display: flex;

}

