
// colors
$primaryColor: #13678A;
$primaryColor-light: #45C4B0;
$secondColor: #9AEBA3;
$secondColor-light: #DAFDBA;
$dark: #012030;
$light: #F2F2F2;
$grey: #e2e2e2;
$dark-grey: #a0a0a0;

//food colors:
$blue: #38D1FF;
$green: #57F526;
$yellow: #FAE02F;
$orange: #FF8628;
$red: #FA402A;


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}


@import "./MyButton";

