@import "../../commons/Commons.scss";



.main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to top right, $dark-grey, $grey);

    h1 {
        padding: 20px;
        color: $primaryColor
    }

    input {
        padding: 5px;
        font-size: 1.5em;
        color: $primaryColor;
        box-shadow: 0 0 10px $dark;
        border-style: none;
        border-radius: 10px;
        margin: 10px
    }
}

.log-in-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.title-container {
    @include flexCenter(column);
    width: 100%;
}

.search-container {
    @include flexCenter(row);
}

.cards-container {
    @include flexCenter(row);
    flex-wrap: wrap;
    padding: 20px;
    width: calc(100% - 40px);
}

