@import "../../commons/Commons.scss";


.main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to top right, $dark-grey, $grey);

    h1 {
        margin-top: 20px;
        padding: 20px;
        color: $primaryColor;
    }

    input {
        padding: 5px;
        font-size: 1.5em;
        color: $primaryColor;
        box-shadow: 0 0 10px $dark;
        border-style: none;
        border-radius: 10px;
        margin: 10px
    }
}

.log-in-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0 ;
}

.title-container {
    @include flexCenter(column);
    width: 100%;
}

.search-container {
    @include flexCenter(row);
}

.filter-container {
    @include flexCenter(row);
    flex-wrap: wrap;

    select {
        background-color: white;
        padding: 5px ;
        font-size: 1em;
        color: $primaryColor;
        box-shadow: 0 0 10px $dark;
        border-style: none;
        border-radius: 10px;
        margin: 10px;
        width: 110px;
        option:disabled {
            background-color: $grey;
        }
    }

    .option-type {
        font-weight: 800;
    }
    .option-dinner {
        color: $red;
    }
    .option-breakfast {
        color: $yellow;
    }
    .option-supper {
        color: $orange;
    }
    .option-dessert {
        color: $blue;
    }
    .option-soup {
        color: $green;
    }
}

.cards-container {
    @include flexCenter(row);
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    width: calc(100% - 40px);
}

.pagination-bar {
    width: 100%;
    @include flexCenter(row);
    margin-top: auto;
    margin-bottom: 20px;
}

.add-meal-container {
    @include flexCenter(row);
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {

    .search-container {
        @include flexCenter(column);
    }
    
}