.btn {
  padding: 5px 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #13678A;
  color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--primary:hover {
  background-color: #e2e2e2;
  color: #13678A;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0 0 10px #13678A;
          box-shadow: 0 0 10px #13678A;
}

.btn--primary:focus {
  background-color: #13678A;
  color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--primary:disabled {
  opacity: 50%;
  background-color: #13678A;
  color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  cursor: default;
}

.btn--primarydisabled:hover {
  opacity: 50%;
  background-color: #13678A;
  color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  cursor: default;
}

.btn--primary--rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  color: #13678A;
  text-shadow: 0 0 10px #13678A;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--primary--rev:hover {
  color: #012030;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  text-shadow: 0 0 20px #13678A;
}

.btn--secondary {
  background-color: #a0a0a0;
  color: #F2F2F2;
  -webkit-box-shadow: 0 0 10px #a0a0a0;
          box-shadow: 0 0 10px #a0a0a0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--secondary:hover {
  background-color: #e2e2e2;
  color: #13678A;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0 0 10px #13678A;
          box-shadow: 0 0 10px #13678A;
}

.btn--secondary:focus {
  background-color: #13678A;
  color: #e2e2e2;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--object {
  background-color: #13678A;
  color: #e2e2e2;
  cursor: default;
}

.btn--square {
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn--small {
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  font-weight: 600;
  margin: 5px;
}

.btn--medium {
  padding: 0.7em 1em;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

.btn--medium--rev {
  padding: 0.3em 0.3em;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

.btn--medium-smaller {
  padding: 0.45em 0.8em;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#a0a0a0), to(#e2e2e2));
  background-image: linear-gradient(to top right, #a0a0a0, #e2e2e2);
}

.main-container h1 {
  margin-top: 20px;
  padding: 20px;
  color: #13678A;
}

.main-container input {
  padding: 5px;
  font-size: 1.5em;
  color: #13678A;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  border-style: none;
  border-radius: 10px;
  margin: 10px;
}

.log-in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 10px 0 0;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-container select {
  background-color: white;
  padding: 5px;
  font-size: 1em;
  color: #13678A;
  -webkit-box-shadow: 0 0 10px #012030;
          box-shadow: 0 0 10px #012030;
  border-style: none;
  border-radius: 10px;
  margin: 10px;
  width: 110px;
}

.filter-container select option:disabled {
  background-color: #e2e2e2;
}

.filter-container .option-type {
  font-weight: 800;
}

.filter-container .option-dinner {
  color: #FA402A;
}

.filter-container .option-breakfast {
  color: #FAE02F;
}

.filter-container .option-supper {
  color: #FF8628;
}

.filter-container .option-dessert {
  color: #38D1FF;
}

.filter-container .option-soup {
  color: #57F526;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  width: calc(100% - 40px);
}

.pagination-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: auto;
  margin-bottom: 20px;
}

.add-meal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=MainPage.css.map */