@import "../../commons/Commons.scss";


.login-container {
    @include flexCenter(column);
    min-height: 100vh;
    background-image: linear-gradient(to top right, $dark-grey, $grey);

    h1 {
        padding: 20px;
        color: $primaryColor;
    }

    input {
        padding: 5px;
        font-size: 1.5em;
        color: $primaryColor;
        box-shadow: 0 0 10px $dark;
        border-style: none;
        border-radius: 10px;
        margin: 10px
    }
}

.add-meal-button {
    padding: 5px;
}